body{
overflow-y: scroll;
overflow-x: hidden;
}
.node {
  cursor: pointer;
}

.node circle {
  fill: #191919;
  stroke: #191919;
  stroke-width: 4px;
}

.node text {
  font: 12px Impact, Charcoal, sans-serif;
}

.link {
  fill: none;
  stroke: gray;
  stroke-width: 1px;
}
svg{
}
#article {
	background-color:white;
	z-index:2;
	position:absolute;
	left:60%;
	width:40%;
	top:0px;
	  font: 12px Impact, Charcoal, sans-serif;

}
#title {
position:absolute;
top:85%;
left:12px;
z-index:3;

}
